body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 36px;
}

nav {
    background-color: #eee;
    padding: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin: 0;
    padding: 0;
    display: inline;
}

nav a {
    display: inline-block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

nav a:hover {
    background-color: #333;
    color: #fff;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

article {
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 3px 3px 3px #ccc;
    text-align: justify;
}

article h2 {
    margin-top: 0;
    font-size: 24px;
}

article p {
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.5;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

article>a {
    text-decoration: none;
    color: #000;
}